.acordeon dt, dd
{
    padding: 5px;
}
.acordeon dt
{
    background: url("../img/j_arrow.png") no-repeat scroll 5px 50% transparent;
    padding: 3px;
    padding-left: 20px;
    background-color: #f4f4f4;
    color: #146295;
    border: 1px solid #ccc;
    font-size: 10pt;
    margin: 0px;
    
    cursor: pointer;
}
.acordeon dd
{
    margin: 0px;
    border: 1px solid #ccc;
    padding:10px;
}
.acordeon dt.activo, dt:hover
{
}

.acordeon dt.activo
{
    background: url("../img/j_arrow_down.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}



